@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular', Arial, sans-serif;
}

.main-container {
  width: 1000px;
  border: 1px solid #5cb85c;
  margin: auto;
  padding: 10px;
  text-align: center; /*내부 요소 가운데 정렬*/
}

/* -------------------------------------------------------------button */

.btn-container {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-green {
  background-color: #C6EDC2;
  border: none;
}

.btn-green:hover {
  background-color: #4cae4c;
  color: white;
}

.btn-gray {
  border: 1px solid #ccc;
}

.btn-gray:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------------------------- */

.box-container {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 500px;
  margin: 20px auto 20px auto;
  text-align: center;
}

.input-box {
  border: 1px solid #B4D9A9;
  margin: 5px 5px 5px 10px;
  height: 30px;
  border-radius: 5px;
}

/* -------------------------------------------------------------text */

h1 {
  color: #333;
}

.text-melon {
  color: #94b58b;
  font-weight: bold;
  display: block;
}

.text-gray {
  color: #212529; /* 짙은 회색 */
}

.text-danger {
  color: #ff0000;
}

/* -------------------------------------------------------------table */

table {
  margin: auto;
}

td {
  vertical-align: middle; /* td 요소 내에서 세로 가운데 정렬 */
  text-align: center; /* 수평 가운데 정렬 */
}

/* -------------------------------------------------------------table */

.agreement-container {
  background-color: #4cae4c;
}

.agreement-container textarea {
  width: 100%;
  height: 300px;
}